<div class="row">
    <div class="col-md-6">
        <div class="">
            <label class="label"><h5>Nombre:</h5></label>
            <label class="label">{{ contacto.nombre }}</label>
        </div>
        <div class="">
          <label class="label"><h5>Teléfono:</h5></label>
          <label class="label">{{ contacto.telefono }}</label>
        </div>
    </div>
    <div class="col-md-6 text-right ">
      <div class="vertical">
        <img src="../../../assets/editar.jpg" width="40px" class="cursor" [routerLink]="['/nuevo', k]"   />
        <img src="../../../assets/eliminar.jpg" width="40px" class="cursor" (click)="eliminar(k)"  />
      </div>
        
    </div>
  
</div>
<hr />
