<div class="row">
    <div class="col-md-6">
        <div class="">
            <label class="label"><h5>Nombre:</h5></label>
            <label class="label">{{ nombre }}</label>
        </div>
        <div class="">
          <label class="label"><h5>Teléfono:</h5></label>
          <label class="label">{{ telefono }}</label>
        </div>
    </div>
    <div class="col-md-6 text-right ">
      <div class="vertical">
        <img src="../../../assets/editar.jpg" width="40px" />
        <img src="../../../assets/eliminar.jpg" width="40px" />
      </div>
        
    </div>
</div>
<hr />
