<div class="row pading">
    <div class="col-md-6">
        <div class="form-group">
            <label class="label">Nombre Completo</label>
            <input type="text"  value="Javier Hernández Rangel" disabled class="form-control"  />
        </div>
        <div class="form-group">
            <label class="label">Dirección</label>
            <input type="text"  value="Insurgentes 61,Villas de Escobedo" disabled class="form-control"  />
        </div>
        <div class="form-group">
            <label class="label">¿Porque estoy en TOWA?</label>
            <input type="text"  value="Para desarrollarme profecionalmente." disabled class="form-control"  />
        </div>
        <div class="form-group">
            <label class="label">Gustos/Hobies</label>
            <textarea rows="3" disabled class="form-control">
              Estudiar
              Futbol
              Gimnacio
            </textarea>
        </div>
    </div>
    <div class="col-md-6 text-center">
        <img src="http://javyjaja.com/img/Log.jpg" width="80%" class="img-circle" />
    </div>
</div>